<!----------------------------------------------------------------------------------------------------
Base File importing the bootstrap/css. Creating a navbar with the name of the shop, search bar, home,
products, (user profile and logout) or login. Creating also a footer.
------------------------------------------------------------------------------------------------------->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Shop{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- css file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">E-Shop</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- search -->
                    <form class="d-flex" method="get" action="{% url 'product_search' %}">
                        <input class="form-control me-2" type="search" placeholder="Search by name" aria-label="Search" name="q">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <!-- home -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <!-- dropdown -->
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for class in class_names %}
                          <a class="dropdown-item" href="{% url 'category_detail' class %}">{{class}}</a>
                        {% endfor %}
                        </div>
                     <!-- user page -->
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'user_settings'%}">{{ user.username }}'s Profile</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <!-- login button, if not authenticated -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Enter</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- content -->
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <!-- End of page -->
    <footer class="bg-dark text-white text-center py-3 mt-5">
        <p>&copy; 2025 E-Shop. Lucas Lorenzo.</p>
    </footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>