<!----------------------------------------------------------------------------------------------------
Publish a product. With all the descriptions: type, name, price, description, stock's amount.
If the user choses a book, he can add author and nb of pages
If the user choses a phone, he can add brand.
------------------------------------------------------------------------------------------------------->


{% extends 'base.html' %}

{% block title %} offer_product | E-Shop{% endblock %}
{% block content %}
    <h1 class="mb-4">Offer a new product</h1>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Fill the product's information</h5>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Type of product. Related to the JS-->
                <div class="form-group mb-3">
                    <label for="product_type" class="form-label">Product Type</label>
                    <select class="form-control" id="product_type" name="product_type" onchange="updateFormFields()" >
                        <option value="book" {% if product_type == 'book' %}selected{% endif %}>Book</option>
                        <option value="phone" {% if product_type == 'phone' %}selected{% endif %}>Phone</option>
                        <option value="other" {% if product_type == 'other' %}selected{% endif %}>Other</option>
                    </select>
                </div>

                <!-- Name-->
                <div class="form-group mb-3">
                    <label for="id_name" class="form-label">Name</label>
                    <input type="text" name="name" id="id_name" class="form-control" value="{{ form.name.value }}">

                </div>

                <!-- Price-->
                <div class="form-group mb-3">
                    <label for="id_price" class="form-label">Price</label>
                    <input type="text" name="price" id="id_price" value="{{ form.price.value }}" class="form-control">
                </div>

                <!-- Description-->
                <div class="form-group mb-3">
                    <label for="id_description" class="form-label">Description</label>
                    <textarea name="description" id="id_description" class="form-control">{{ form.description.value }}</textarea>
                </div>

                <!-- Stock-->
                <div class="form-group mb-3">
                    <label for="id_stock" class="form-label">Stock's amount</label>
                    <input type="number" name="stock" id="id_stock" value="{{ form.stock.value }}" class="form-control">
                </div>

                <!-- if Book -->
                <div id="bookFields" class="dynamic-fields" {% if product_type != 'book' %}style="display: none;"{% endif %}>
                    <div class="form-group mb-3">
                        <label for="id_pages" class="form-label">Number of pages</label>
                        <input type="number" name="pages" id="id_pages" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="id_author" class="form-label">Author</label>
                        <input type="text" name="author" id="id_author" class="form-control">
                    </div>
                </div>

                <!-- if Phone -->
                <div id="phoneFields" class="dynamic-fields" {% if product_type != 'phone' %}style="display: none;"{% endif %}>
                    <div class="form-group mb-3">
                        <label for="id_brand" class="form-label">Brand</label>
                        <input type="text" name="brand" id="id_brand" class="form-control">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Publish it!</button>
            </form>
        </div>
    </div>

<script>
    function updateFormFields() {
        var productType = document.getElementById('product_type').value;


        var dynamicFields = document.querySelectorAll('.dynamic-fields');
        dynamicFields.forEach(function(field) {
            field.style.display = 'none';
        });

        if (productType == 'book') {
            document.getElementById('bookFields').style.display = 'block';
        } else if (productType == 'phone') {
            document.getElementById('phoneFields').style.display = 'block';
        } else if (productType == 'other') {
            document.getElementById('otherFields').style.display = 'block';
        }
    }

    window.onload = function() {
        updateFormFields();
    };
</script>

{% endblock %}