<!----------------------------------------------------------------------------------------------------
Product's page. With price, description, stock, pages, author and brand if applicable.
If the product is from the user, he can delete and edit it. If not the user's product, he can buy only
------------------------------------------------------------------------------------------------------->



{% extends 'base.html' %}

{% block title %} product_detail | E-Shop{% endblock %}
{% block content %}
    <!-- Show product information-->
     <div class="product-detail">
        <h1>{{ product.name }}</h1>
        <div class="product-info">
          <img src="{{product.image.url}}" alt="{{ product.name }}" class="product-image">
          <div class="product-description">
            <p><strong>Price:</strong> $ {{ product.price }}</p>
            <p><strong>Description:</strong> {{ product.description }}</p>
            <p><strong>Stock:</strong> {{ product.stock }}</p>

            {% if product_type == "Books" %}
              <p><strong>Pages:</strong> {{ product.pages }}</p>
              <p><strong>Author:</strong> {{ product.author }}</p>
            {% elif product_type == "Phones" %}
              <p><strong>Brand:</strong> {{ product.brand }}</p>
            {% endif %}
          </div>
        </div>


     <!-- Actions edit, delete, buy-->
     {% if request.user == product.user %}
      <div class="product-actions">
        <a href="{% url 'edit_product' product.id %}" class="btn-edit">Edit</a>
        <a href="{% url 'delete_product' product.id %}" class="btn-delete">Delete</a>
        </form>
      </div>
    {% endif %}
         <a href="{% url 'buy_product' product.id %}" class="btn-delete">Buy</a>
  </div>

{% endblock %}