/* Estilo do Banner */
.banner {
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    overflow: hidden; /* Hide any overflowing background */
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/images/banner.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(3px); /* Apply blur to the background */
    z-index: -1; /* Ensure the background is behind the text */
}

.banner h1 {
    z-index: 1; /* Ensure the text stays on top of the background */
    font-size:8rem; /* Adjust the size to your liking */
    margin: 0;
}

/* Estilo das imagens dos produtos */
.card img {
    height: 200px;
    object-fit: cover;
}